{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/style-society-cgu.css') }}">{% endblock %}

{% block body %}
    
    <div class="container-fluid">
        
        <h1 class="text-center display-4">POLITIQUE DE CONFIDENTIALITÉ ET TRAITEMENT DES DONNÉES PERSONNELLES</h1>
        
    </div>

{% endblock %}