{% extends 'base.html.twig' %}
{% block title %}Erreur 500{% endblock %}
{% block body %}
    
    <div class="container-fluid">
        
        <h1 class="display-4 text-center">Oups .. Problème interne au serveur ..</h1>
        
        <p class="lead text-center">Nous vous prions de bien vouloir nous excuser, <span
                class="li-energies">LI.ENERGIES</span> fait le nécessaire pour résoudre ce problème.</p>
        
        <div class="last-section-contact d-flex">
            <a href="{{ path('home') }}" class="blue-shadow load-hidden" id="last-button">Retour à la page d'accueil
            </a>
        </div>
    
    </div>

{% endblock %}